USE [master]
GO
/****** Object:  Database [BDProveedor]    Script Date: 12/11/2022 01:28:40 a. m. ******/
CREATE DATABASE [BDProveedor]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDProveedor', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BDProveedor.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BDProveedor_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BDProveedor_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDProveedor].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDProveedor]
GO
/****** Object:  Table [dbo].[Proveedores]    Script Date: 12/11/2022 01:28:40 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedores](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Razon_social] [varchar](50) NOT NULL,
	[Rfc] [varchar](15) NOT NULL,
	[Direccion] [varchar](200) NOT NULL,
	[Estatus] [varchar](20) NOT NULL,
	[Moneda] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
